<!DOCTYPE html>

<html>
    <head>
        <title>My Node site</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>

        <h1>Bienvenue dans le chat <%= username %></h1>
        <span> Derniers utilisateurs inscrits : </span>
        <% users.forEach(function(user) { %>
            <span style="color : blue"> <%= user %> </span>,
        <% }); %>

	<div id="group_chat">

		<section id="zone_chat"></section>

		<form action="/" method="post" id="formulaire_chat">
		    <input type="text" id="message" placeholder="Message ..." size="50" autofocus autocomplete="off"/>
		</form>

	</div>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://localhost:9000/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:9000/');
            socket.emit('nouveau_client', "<%= username %>");
            
            socket.on('message', function(data) {
                $('#zone_chat').append('<p><strong>' + data.pseudo + '</strong> ' + data.message + '</p>');
            });

            socket.on('nouveau_client', function(pseudo) {
                $('#zone_chat').append('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
            });

            socket.on('parti_client', function(pseudo) {
                $('#zone_chat').append('<p><em>' + pseudo + ' est parti du Chat !</em></p>');
            });

            $('#formulaire_chat').submit(function () {
                var message = $('#message').val();
                socket.emit('message', message);
                $('#zone_chat').append('<p><strong><%= username %></strong> : ' + message + '</p>');
                $('#message').val('').focus();

				scrollToMessage();

                return false; // bloque le post
            });

			function scrollToMessage() {
				var scrollDistance = $("#zone_chat").get(0).scrollHeight;
				$('#zone_chat').animate({
    				scrollTop: scrollDistance
				}, 500);
			}

        </script>
    </body>
</html>
