<!DOCTYPE html>

<html>
    <head>
        <title>My Node site</title>
    </head>

    <body>

        <h1>Inscription</h1>

        <form action="/inscription" method="post">
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" autofocus />
                <label for="password">Password</label>
                <input type="password" name="password" />
                <label for="password2">Confirmation password</label>
                <input type="password" name="password2" />
                <input type="submit" />
            </p>
        </form>
        <a href="/">se connecter</a>
    </body>
</html>